@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle-out {
  border-style: solid;
  border-width: 100px 0 0 150px;
  border-color: transparent transparent transparent #007bff;
  color: #00ff00;
}
.square{
  border-style: solid;
  border-width: 50px 50px 50px 50px;
  border-color: #007bff;
  color: #00ff00;
}
.triangle-in {
  border-style: solid;
  border-width: 0 0 100px 100px;
  border-color: transparent transparent #007bff transparent;
  color: #00ff00;
}
h1 {
  color: #00ff00;
}
h2 {
  color: #00dd00;
}
h3 {
  color: #00aa00;
}
h4 {
  color: #008800;
}
